<launch>
  <machine name="camera_server" address="merry" ros-root="/opt/ros/electric/ros" ros-package-path="/opt/ros/electric/stacks" />
  <machine name="mjpeg_server" address="merry" ros-root="/opt/ros/electric/ros" ros-package-path="/opt/ros/electric/stacks" />
  <machine name="rosbridge_server" address="arwen" ros-root="/opt/ros/electric/ros" ros-package-path="~/ros:/opt/ros/electric/stacks" />
<machine name="pr2c1" address="c1"
        ros-root="$(env ROS_ROOT)"
        ros-package-path="$(env ROS_PACKAGE_PATH)" />

    <machine name="pr2c2" address="c2"
        ros-root="$(env ROS_ROOT)"
        ros-package-path="$(env ROS_PACKAGE_PATH)" />

    <machine name="c1" address="c1"
        ros-root="$(env ROS_ROOT)"
        ros-package-path="$(env ROS_PACKAGE_PATH)" />

    <machine name="c2" address="c2"
        ros-root="$(env ROS_ROOT)"
        ros-package-path="$(env ROS_PACKAGE_PATH)" />

</launch>
